.container {
    width: 90%;
    margin: 0 auto; /* Center horizontally */
    padding: 0 5%; /* 15% margin on both sides */
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: lightgray; /* Light gray background color for the register container */
  }

  .container div {
    width: 70%; /* Set width to 100% to match container width */
    margin-bottom: 10px; /* Add margin bottom for spacing between inputs */
  }
  
  .container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .container input {
    width: 70%; /* Set width to 100% to fill the container */
  }

  .options-list {
    list-style: none; /* Hide bullet points */
    padding: 0;
  }
  
  .options-list li {
    padding: 5px;
    cursor: pointer;
  }
  
  .options-list li:hover {
    background-color: white; /* Change background color on hover */
  }

  .books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 100%)); /* Use 100% instead of 1fr */
    grid-gap: 20px;
  }
  
  .book-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: white; /* White background color for the book card */
  }

  .book-info {
    margin-bottom: 10px; /* Add space between book info and actions */
  }
  
  .actions {
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) */
    gap: 10px; /* Add space between links */
  }
  
  .actions a {
    color: #007bff;
    text-decoration: none;
  }
  
  .actions a:hover {
    text-decoration: underline;
  }